<div class="about" id="about">
  <div class="">
    <img
      src="https://avatars.githubusercontent.com/u/122622768?v=4"
      alt="Gabriel Magina"
    />
  </div>
  <div class="texts">
    <h1 class="dm-serif">Sobre</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
      consectetur volutpat maximus. Duis ultrices ligula et orci condimentum
      congue. Vivamus hendrerit, sem a posuere lacinia, odio augue bibendum
      velit, a pellentesque diam ex et tellus. Aenean tincidunt justo viverra,
      aliquam nisl non, elementum dui. Donec at eros consequat, vestibulum purus
      eu, varius mauris. Phasellus aliquet lobortis ultricies. Praesent
      fermentum porttitor velit, vitae semper sapien tincidunt nec. Nullam
      imperdiet, dolor sollicitudin volutpat ultricies, sem metus lobortis nunc,
      a tincidunt diam mi viverra orci.
    </p>
  </div>
</div>
