.nav-desktop {
  @apply bg-background
  top-0
  fixed
  z-10
    w-full
    hidden
    md:flex 
    flex-row 
    justify-center
    align-middle
    gap-14
    p-4
    border-b-[1px]
    border-b-foreground;
}

.nav-mobile {
  @apply bg-background
  top-0
  fixed
  z-10
    w-full
    flex
    flex-col
    md:hidden
    pr-4
    border-b-[1px]
    border-b-foreground;
}

.navItem {
  @apply text-text
    cursor-pointer
    p-1
    transition
    ease-in-out
    duration-300
    uppercase
    text-lg
    font-medium;
}

.nav-mobile .navItem {
  @apply py-4;
}

.navItem:hover {
  @apply text-focus
  transition
  ease-in-out
  duration-300;
}

.groupItem {
  @apply hidden
  group-focus:flex
  flex-col
  absolute
  p-3
  mt-2
  -ml-3.5
  gap-3
  rounded-b-xl
  bg-background
  border-b-[1px]
  border-b-foreground;
}

.groupItem-mobile {
  @apply hidden
    group-focus:flex
    flex-col
    h-screen
    p-3
    gap-3
    rounded-b-xl
    bg-background
    border-b-[1px]
    border-b-foreground;
}
