<div class="habilities" id="habilities">
  <h1 class="dm-serif">Habilidades</h1>
  <p>Frontend</p>
  <div class="hability-track">
    <!-- frontend -->
    <!-- TAILWIND -->
    <div class="hability">
      <a href="https://tailwindcss.com/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/tailwind-css-2.svg"
          alt="Tailwind CSS"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Tailwind CSS</span>
      </a>
    </div>
    <!-- frontend -->
    <!-- BOOTSTRAP -->
    <div class="hability">
      <a href="https://getbootstrap.com/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/bootstrap-5-1.svg"
          alt="Bootstrap"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Bootstrap</span>
      </a>
    </div>
    <!-- frontend -->
    <!-- REACT -->
    <div class="hability">
      <a href="https://reactjs.org/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/react-2.svg"
          alt="React"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>React</span>
      </a>
    </div>
    <!-- frontend -->
    <!-- ANGULAR -->
    <div class="hability">
      <a href="https://angular.io/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg"
          alt="Angular"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Angular</span>
      </a>
    </div>
    <!-- frontend -->
    <!-- TYPESCRIPT -->
    <div class="hability">
      <a href="https://www.typescriptlang.org/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
          alt="TypeScript"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>TypeScript</span>
      </a>
    </div>
  </div>

  <p>Backend</p>
  <div class="hability-track">
    <!-- backend -->
    <!-- TYPESCRIPT -->
    <div class="hability">
      <a href="https://www.typescriptlang.org/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
          alt="TypeScript"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>TypeScript</span>
      </a>
    </div>
    <!-- backend -->
    <!-- JAVA -->
    <div class="hability">
      <a href="https://www.java.com/en/">
        <img
          src="https://www.geekandjob.com/uploads/wiki/f03eab0e2926595f84d8e8903a2c08adcd62320e.png"
          alt="Java"
          height="100"
          width="250"
          class="logo-hability scale-90"
          alt=""
        />
        <span>Java</span>
      </a>
    </div>
    <!-- backend -->
    <!-- SPRING -->
    <div class="hability">
      <a href="https://spring.io/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/spring-3.svg"
          alt="Spring"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Spring</span>
      </a>
    </div>
    <!-- backend -->
    <!-- GITHUB -->
    <div class="hability">
      <a href="https://github.com/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/github-icon-2.svg"
          alt="GitHub"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>GitHub</span>
      </a>
    </div>
    <!-- backend -->
    <!-- PYTHON -->
    <div class="hability">
      <a href="https://www.python.org/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/python-5.svg"
          alt="Python"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Python</span>
      </a>
    </div>
  </div>

  <p>DevOps & Database</p>
  <div class="hability-track">
    <!-- devops -->
    <!-- LINUX -->
    <div class="hability">
      <a href="https://www.linux.org/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg"
          alt="Linux"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Linux</span>
      </a>
    </div>
    <!-- devops -->
    <!-- DOCKER -->
    <div class="hability">
      <a href="https://www.docker.com/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/docker-4.svg"
          alt="Docker"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>Docker</span>
      </a>
    </div>
    <!-- Database -->
    <!-- MONGODB -->
    <div class="hability">
      <a href="https://www.mongodb.com/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-1-1.svg"
          alt="MongoDB"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>MongoDB</span>
      </a>
    </div>
    <!-- Database -->
    <!-- MYSQL -->
    <div class="hability">
      <a href="https://www.mysql.com/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/mysql-logo-pure.svg"
          alt="MySQL"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>MySQL</span>
      </a>
    </div>
    <!-- Database -->
    <!-- POSTGRESQL -->
    <div class="hability">
      <a href="https://www.postgresql.org/">
        <img
          src="https://cdn.worldvectorlogo.com/logos/postgresql.svg"
          alt="PostgreSQL"
          height="100"
          width="250"
          class="logo-hability"
          alt=""
        />
        <span>PostgreSQL</span>
      </a>
    </div>
  </div>
</div>
