.slider-element {
  @apply bg-background
    w-full
    flex
    align-middle
    justify-center
    border-y-[1px]
    border-foreground;
}

.logo-slider {
  @apply h-[100px]
    w-[250px];
  filter: saturate(0) invert(1) grayscale(100%) brightness(350%);
}

@mixin white-gradient {
  background: linear-gradient(to right, #0d0d0d 0%, #ffffff00 100%);
}

$animationSpeed: 40s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 14));
  }
}

.slider {
  @apply bg-background
    w-full
    relative
    m-auto
    overflow-hidden
    h-[100px];

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 28);
  }

  .slide {
    @apply h-[100px]
      w-[250px];
  }
}
