<div class="slider-element">
  <div class="slider">
    <div class="slide-track">
      <!-- 01 -->
      <!-- TAILWIND -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/tailwind-css-wordmark.svg"
          alt="Tailwind CSS"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 02 -->
      <!-- JAVA -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/java-4.svg"
          alt="Java"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 03 -->
      <!-- LINUX -->
      <div class="slide">
        <img
          src="https://www.vectorlogo.zone/logos/linux/linux-ar21.svg"
          alt="Linux"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 04 -->
      <!-- MYSQL -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/mysql-logo-pure.svg"
          alt="MySQL"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 05 -->
      <!-- ANGULAR -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/angular-3.svg"
          alt="Angular"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 06 -->
      <!-- SPRING -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/spring-3.svg"
          alt="Spring"
          height="100"
          width="250"
          class="logo-slider scale-50"
          alt=""
        />
      </div>
      <!-- 07 -->
      <!-- GITHUB -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/github-2.svg"
          alt="GitHub"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 08 -->
      <!-- TYPESCRIPT -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
          alt="TypeScript"
          height="100"
          width="250"
          class="logo-slider scale-50"
          alt=""
        />
      </div>
      <!-- 09 -->
      <!-- DOCKER -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/docker-1.svg"
          alt="Docker"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 10 -->
      <!-- MONGODB -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-1-1.svg"
          alt="MongoDB"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 11 -->
      <!-- PYTHON -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/python-3.svg"
          alt="Python"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 12 -->
      <!-- POSTGRESQL -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/postgresql.svg"
          alt="PostgreSQL"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 13 -->
      <!-- BOOTSTRAP -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/bootstrap-5.svg"
          alt="Bootstrap"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 14 -->
      <!-- REACT -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/react-2.svg"
          alt="React"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>

      <!-- 01 -->
      <!-- TAILWIND -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/tailwind-css-wordmark.svg"
          alt="Tailwind CSS"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 02 -->
      <!-- JAVA -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/java-4.svg"
          alt="Java"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 03 -->
      <!-- LINUX -->
      <div class="slide">
        <img
          src="https://www.vectorlogo.zone/logos/linux/linux-ar21.svg"
          alt="Linux"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 04 -->
      <!-- MYSQL -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/mysql-logo-pure.svg"
          alt="MySQL"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 05 -->
      <!-- ANGULAR -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/angular-3.svg"
          alt="Angular"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 06 -->
      <!-- SPRING -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/spring-3.svg"
          alt="Spring"
          height="100"
          width="250"
          class="logo-slider scale-50"
          alt=""
        />
      </div>
      <!-- 07 -->
      <!-- GITHUB -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/github-2.svg"
          alt="GitHub"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 08 -->
      <!-- TYPESCRIPT -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
          alt="TypeScript"
          height="100"
          width="250"
          class="logo-slider scale-50"
          alt=""
        />
      </div>
      <!-- 09 -->
      <!-- DOCKER -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/docker-1.svg"
          alt="Docker"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 10 -->
      <!-- MONGODB -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-1-1.svg"
          alt="MongoDB"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 11 -->
      <!-- PYTHON -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/python-3.svg"
          alt="Python"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 12 -->
      <!-- POSTGRESQL -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/postgresql.svg"
          alt="PostgreSQL"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
      <!-- 13 -->
      <!-- BOOTSTRAP -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/bootstrap-5.svg"
          alt="Bootstrap"
          height="100"
          width="250"
          class="logo-slider"
          alt=""
        />
      </div>
      <!-- 14 -->
      <!-- REACT -->
      <div class="slide">
        <img
          src="https://cdn.worldvectorlogo.com/logos/react-2.svg"
          alt="React"
          height="100"
          width="250"
          class="logo-slider scale-75"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
