<div class="backend" id="backend">
  <h1 class="dm-serif">Backend</h1>

  <div class="back-projects mb-10">
    <div class="back-project">
      <div class="project-header">
        <p class="dm-serif text-2xl">Todo List API</p>
        <a class="linked" href="https://ronan-html.vercel.app/"
          >ver projeto →</a
        >
      </div>
      <p class="description">
        Este é um projeto de uma aplicação de lista de tarefas (Todo List)
        desenvolvido como um teste prático. O sistema inclui uma API construída
        com NestJS e um frontend simples que interage com essa API. O objetivo
        deste projeto foi demonstrar habilidades em desenvolvimento web e
        gerenciamento de tarefas.
      </p>
    </div>

    <div class="back-project">
      <div class="project-header">
        <p class="dm-serif text-2xl">TeleApi</p>
        <a class="linked" href="https://ronan-html.vercel.app/"
          >ver projeto →</a
        >
      </div>
      <p class="description">
        Contexto e Motivação: O projeto é para resolver problemas nas vendas de
        telemarketing e integração com a Área de vendas. Objetivos: O projeto
        vai ajudar a pegar os dados dos cnpj e criar leads. Público-alvo:
        Empresas que queiram fazer suas vendas e não tenham leads. Java.
        MongoDB. SpringBoot.
      </p>
    </div>
  </div>
</div>
